{% extends "base.html" %} {% block style %}
<style>
  body {
    background-image: url("https://www.techtarget.com/rms/onlineimages/keys_a280346470.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }


</style>
{% endblock %} {% block body %}
<div class="container mt-5">
  <div class="row d-flex justify-content-center" style="margin: 1rem">
    <div class="col-md-6 text-white text-center p-5 rounded" style="background-color: #2a2645">
      <h5>This Project have been done by:</h5>
      <ul style="list-style: none">
        <li>Yeshwanth</li>
        <li>Jeshwanth Raju</li>
        <li>Dhiras</li>
        <li>Pavan</li>
      </ul>
      <h5>Guided by: D.Sreeranjan</h5>
      <h5>This Project is submitted to GIOE College</h5>
    </div>
  </div>
</div>


{% endblock %}