{% extends "base.html" %}

{% block content %}
<div style="
        text-align: center;
        margin: 8% 26%;
        padding: 5%;
        border-radius: 15px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 20px -5px;
      ">
    <h5>This Project have been done by:</h5>
    <ul style="list-style: none">
        <li>K.Dhiras</li>
        <li>A.Jeshwanth Raju</li>
        <li>P.Yeshwanth</li>
        <li>Pavan</li>
    </ul>
    <h5>Guided by: D.Sreeranjan</h5>
    <h5>This Project is submitted to GIOE College</h5>
</div>
{% endblock %}