{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <title>{{ title }}</title>
  {% block style %} {% endblock %}
  <style>
    body {
      background: #1d1e30;
    }

    .custom-nav {
      background-color: #322f56;
    }

    .loginsignup-btn {
      border-color: #5261a2;
    }

    .loginsignup-btn:hover {
      background-color: #5261a2 !important;
      transition: 0.7s;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark custom-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><b>Password Manager</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {{ dashboard }}" aria-current="page" href="/dashboard">Dashboard</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link {{ generator }}" href="/generator">Generator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ about }}" href="/about">About</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="text-white m-0"><b>{{user.name}}</b></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li class="m-0">
              <a class="dropdown-item m-0 w-25" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
        {% else %}
        <button type="button" class="btn text-white loginsignup-btn rounded-pill" data-bs-toggle="modal"
          data-bs-target="#loginsigmup">
          Login/Signup
        </button>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="modal fade" id="loginsigmup" tabindex="-1" aria-labelledby="loginsigmupLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="loginsigmupLabel">Password Manager</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body costom-model">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button"
                role="tab" aria-controls="login" aria-selected="true">
                Login
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button"
                role="tab" aria-controls="signup" aria-selected="false">
                Signup
              </button>
            </li>
          </ul>
          <div class="tab-content costom-tab" id="myTabContent">
            <div class="tab-pane fade show active costom-pane" id="login" role="tabpanel" aria-labelledby="login-tab">
              <form id="login-form">
                {% csrf_token %}
                <div class="form-floating costom-form">
                  <input type="email" class="form-control" id="login-email" placeholder="Email" required />
                  <label for="login-email">Email Address</label>
                  <span class="text-danger" id="login-email-val"> </span>
                </div>
                <div class="form-floating costom-form">
                  <input type="password" class="form-control" id="login-password" placeholder="Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*]).{8,32}" required />
                  <label for="login-password">Password</label>
                  <span class="text-danger" id="login-password-val"> </span>
                </div>
                <span class="text-danger" id="login-cred-val" style="margin-bottom: 1rem; padding-left: 1rem">
                </span>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button class="btn btn-primary" id="login-submit">
                    Login
                  </button>
                </div>
              </form>
            </div>
            <div class="tab-pane fade costom-pane" id="signup" role="tabpanel" aria-labelledby="signup-tab">
              <form id="signup-form">
                {% csrf_token %}
                <div class="form-floating costom-form">
                  <input type="text" class="form-control" id="signup-name" placeholder="name" required />
                  <label for="signup-name">Name</label>
                  <span class="text-danger" id="signup-name-val"> </span>
                </div>
                <div class="form-floating costom-form">
                  <input type="email" class="form-control" id="signup-email" placeholder="Email" required />
                  <label for="signup-email">Email Address</label>
                  <span class="text-danger" id="signup-email-val"> </span>
                </div>
                <div class="form-floating costom-form">
                  <input type="password" class="form-control" id="signup-password" placeholder="Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*]).{8,32}" required />
                  <label for="signup-password">Password</label>
                  <span class="text-danger" id="signup-password-val"> </span>
                </div>
                <div class="form-floating costom-form">
                  <input type="password" class="form-control" id="signup-confirm-password" placeholder="Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*]).{8,32}" required />
                  <label for="signup-confirm-password">Confirm Password</label>
                  <span class="text-danger" id="signup-confirm-password-val">
                  </span>
                </div>
                <span class="text-danger mb-1" id="signup-cred-val" style="padding-left: 1rem">
                </span>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button class="btn btn-primary" id="signup-submit">
                    Signup
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block content %} {% endblock %}
  {% block script %} {% endblock %}

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>