{% extends "base.html" %}

{% block style %}
<style>
  body {
    background-image: url("https://www.techtarget.com/rms/onlineimages/keys_a280346470.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  .custom-container {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -10px;
    border-radius: 1.5rem;
    margin: 1rem;
  }

  .custom-block {
    color: white;
    background-color: rgba(0, 0, 0);
    box-shadow: 0px 0px 20px -10px;
    border-radius: 1.5rem;
    margin: 1rem;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="card custom-block">
    <div class="card-body">
      <div class="row text-white">
        <div class="col text-center">
          <h3>Your Passwords </h3>
        </div>
      </div>
    </div>
  </div>
  {% for i in passwords %}
  <div class="card custom-container">
    <div class="card-body" style="padding-bottom: 0;">
      <div class="row text-white">
        <div class="col">
          <span>{{i.name}}</span>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <span class="form-control text-white" id="{{i.index}}"
              style="background-color: rgb(209 255 220 / 0%); border: 0;">{{i.password}}</span>
            <button class="btn btn-secondary btn-sm input-group-text" style="padding: 1%; padding-bottom: 0;background-color: rgb(202 215 206 / 0%);
    border: 0;" type="button" data-target="{{i.index}}" onclick="copy(this.getAttribute('data-target'))"><i
                class="material-icons">content_copy</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
  copy = (element) => {
    navigator.clipboard.writeText(document.getElementById(element).innerHTML);
  }
</script>
{% endblock %}